.mainSection {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
}

.editor {
    position:relative;
    top:0; 
    right:0; 
    bottom:90; 
    left:0;
    font-size:12pt; 
    font-weight:normal; 
    white-space:nowrap; 
    display:block; 
    z-index:999;
    grid-area: overlap;
}