body {
    padding: 0;
    margin: 0;
}

body *{
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

.toolbar {
    width: 100%;
    height: 60px;
    background-color: #404040;
    display: inline-flex;
    -webkit-app-region: drag;
}

#runButton {
    color: white;
    background-color: #303030;
    margin-top: 10px;
    margin-left: 80px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-app-region: no-drag;
}
#stopButton {
    color: white;
    background-color: #303030;
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-app-region: no-drag;
}